.Receipt{
    max-width: 480px;
    margin: auto;
}

.Receipt-file{
    border: 0;
    display: none;
}

.Receipt-fileSelector {
    font-size: large;
    padding-left: 5%;
    padding-right: 5%;
}

.Receipt-upload{
    font-size: large;
    padding-left: 5%;
    padding-right: 5%;
}

.Receipt-progress {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    top: 50%;
    margin: auto;
}

.Receipt-preview {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.Receipt-fullText{
    width: 100%;
    height: 1024px;
    font-size: large;
    background-color:#333;
    color: white;
}

.Receipt-resultName{
    font-size: large;
    font-weight: bold;
    text-align: left;
    float: left;
}

.Receipt-resultText{
    font-size: large;
}

.App-gitHubLogo{
    height: 32px;
    width: 32px;
    padding-left: 1%;
    padding-right: 1%;
    float: right;
}